<div style="align-items: right;">
  <div class="contact-div">Contact Me!</div>
  <a class="contact resume" href="assets/a">Resume</a>
  
  <a class="contact email" href="mailto:rishabhsharma3420@gmail.com">Email</a>
  <a class="contact github" href="https://github.com/rishabhsharma3420">Github</a>
  
  <a class="contact linkedin" href="https://www.linkedin.com/in/johnallison-">LinkedIn</a>
  <a class="contact steam" href="https://steamcommunity.com/id/Danny_Dorito">Steam</a>
  <a class="contact twitter" href="https://twitter.com/_rishabhsharma">Twitter</a>
</div>

