<div class=" justify-content-center" style="border-bottom: 2px solid rgba(70, 70, 70, 0.534); border-top: 2px solid rgba(70, 70, 70, 0.534);">
    <div>
        <h2> Languages </h2>
        <ul class="deck preload">
            <li class="card">
                <div class="content"> Java </div>
            </li>
            <li class="card">
                <div class="content"> TypeScript </div>
            </li>
            <li class="card">
                <div class="content">JavaScript </div>
            </li>
            <li class="card">
                <div class="content"> Python </div>
            </li>
            <li class="card">
                <div class="content"> C++ </div>
            </li>
            <li class="card">
                <div class="content"> Swift </div>
            </li>
        </ul>
    </div>
</div>
<br>
<div class=" justify-content-center" style="border-bottom: 2px solid rgba(70, 70, 70, 0.534);">
    <div>
        <h2> Backend Technologies </h2>
        <ul class="deck preload">
            <li class="card">
                <div class="content"> Spring Boot </div>
            </li>
            <li class="card">
                <div class="content"> Spring Data </div>
            </li>
            <li class="card">
                <div class="content"> Spring Microservices </div>
            </li>
        </ul>
    </div>
</div>
<br>
<div class=" justify-content-center" style="border-bottom: 2px solid rgba(70, 70, 70, 0.534);">
    <div>
        <h2> Frontend Technologies </h2>
        <ul class="deck preload">
            <li class="card">
                <div class="content"> Angular </div>
            </li>
            <li class="card">
                <div class="content"> ReactJS </div>
            </li>
        </ul>
    </div>
</div>
<br>
<div class=" justify-content-center" style="border-bottom: 2px solid rgba(70, 70, 70, 0.534);">
    <div>
        <h2> Databases </h2>
        <ul class="deck preload">
            <li class="card">
                <div class="content"> MySQL </div>
            </li>
            <li class="card">
                <div class="content"> MongoDB </div>
            </li>
        </ul>
    </div>
</div>
<br>
<div class=" justify-content-center" style="border-bottom: 2px solid rgba(70, 70, 70, 0.534);">
    <div>
        <h2> Tools </h2>
        <ul class="deck preload">
            <li class="card">
                <div class="content"> Git </div>
            </li>
            <li class="card">
                <div class="content"> Maven </div>
            </li>
            <li class="card">
                <div class="content"> JUnit </div>
            </li>
            <li class="card">
                <div class="content"> KarmaJS </div>
            </li>
            <li class="card">
                <div class="content"> PMD </div>
            </li>
            <li class="card">
                <div class="content"> Jasmine </div>
            </li>
            <li class="card">
                <div class="content"> Postman </div>
            </li>
            <li class="card">
                <div class="content"> Jasmine </div>
            </li>
            <li class="card">
                <div class="content"> Talend </div>
            </li>
        </ul>
    </div>
</div>
<br>