
.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.card {
  background-color: rgba(255, 255, 255, 0);
  border-radius: .5em;
  box-sizing: border-box;
  height: 2em;
  margin: .5em;
  opacity: 50%;
  padding-top: 10px;
  position: relative;
  transform: translateX(100vw) translateY(100vh) rotate(15deg);
  /* -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; */
  transition: all 1s ease-out;
  width: 9em;
}

.card .content {
  opacity: 0;
  transition: all 2s ease-out;
}

.card.loaded {
  opacity: 1;
  transform: translateX(0) translateY(0) rotate(0);
}

.card.loaded .content.loaded {
  opacity: 1;
}
.a{
  visibility: visible;
}
.b{
  visibility: hidden;
}
.card:hover{
  animation: pulse 2.5s infinite
}
@keyframes pulse {
  0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}