<ul>
  <li>
    <div class="details">
      <h2>Java</h2>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/nike11a.png">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/nike11b.png">
    </div>
  </li>
  <li>
    <div class="details">
      <h2>Nike Metcon 4 iD</h2>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/nike12a.png">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/nike12b.png">
    </div>
  </li>
  <li>
    <div class="details">
      <h2>Nike Odyssey React Shield</h2>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/nike01a.png">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/nike01b.png">
    </div>
  </li>
  <li>
    <div class="details">
      <h2>LeBron 16</h2>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/nike02a.png">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/nike02b.png">
    </div>
  </li>
  <li>
    <div class="details">
      <h2>Nike Epic React Flyknit</h2>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/nike03a.png">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/nike03b.png">
    </div>
  </li>
  <li>
    <div class="details">
      <h2>Nike Air Max 97 Premium</h2>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/nike04a.png">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/nike04b.png">
    </div>
  </li>
  <li>
    <div class="details">
      <h2>Nike Free RN Motion Flyknit 2018</h2>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/nike05a.png">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/nike05b.png">
    </div>
  </li>
</ul>