@font-face {
  font-family: 'futura';
  src: local('Merriweather-Regular'), url(MerriweatherSans-Regular.ttf);
  font-weight: bold;
  font-kerning: normal;
  font-display: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #def2f1;
  text-align: center;
  font-family: 'futura';
  font-size: 30px;
  overflow: overlay;
  color:#17252A;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

button {
  background: transparent;
  font: inherit;
  border: 0;
  opacity: 0.7;
}

button:hover {
  opacity: 1;
}

button:focus {
  outline: none;
}

h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}
